/* yeseva-one-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/yeseva-one-v22-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/nunito-sans-v15-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Yeseva one';
    background-color: #131313;
}

.container {
    width: 1440px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 107px;
    margin-right: 190px;
    gap: 60px;
}

.nav_link {
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-family: 'Yeseva one';
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    text-decoration: none;
    transition: transform .5s ease-in-out;

}

.nav_link-active {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 2px;
    transform: scale(1.1)
}



.projects {
    padding: 53px 134px 123px 134px;
    display: flex;
}

.projects_description {
    max-width: 50%;
    padding-right: 50px;
}

.projects_title {
    width: 253px;
    color: #E3B873;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    letter-spacing: -1.89px;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.projects_text {
    color: #FFF;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%;
    margin-bottom: 42px;
}

.projects_cards {
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects_card {
    width: 50%;
    margin-bottom: 34px;
}

.projects_card-title {
    color: #E3B873;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.projects_card-text {
    color: #FFF;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.slider_control {
    width: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.arrow-left,
.arrow-right {
    width: 50px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: transform .3s linear;
}

.arrow-left:hover,
.arrow-right:hover {
    transform: scale(1.1);
}


.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.30);
    transition: transform .5s ease-in-out;
    padding: 5px;
    cursor: pointer;

}

.dot-active {
    background-color: #fff;
    transform: scale(1.1);
}